<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18328346647-8nc8mekeiml0eia99mankce5tlq7qcan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18328346647-8nc8mekeiml0eia99mankce5tlq7qcan</string>
	<key>API_KEY</key>
	<string>AIzaSyCVEBOH-DjIvVPx_cpg_cY_ruvME5hx4PM</string>
	<key>GCM_SENDER_ID</key>
	<string>18328346647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lesson.Fetch</string>
	<key>PROJECT_ID</key>
	<string>fetch-a65de</string>
	<key>STORAGE_BUCKET</key>
	<string>fetch-a65de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:18328346647:ios:23e059430ff73c81</string>
	<key>DATABASE_URL</key>
	<string>https://fetch-a65de.firebaseio.com</string>
</dict>
</plist>
